@use "variables" as *;
@use "mixin" as *;

// ナビゲーション
.nav {
    &-list {
        display: flex;
        column-gap: 24px;
        font-size: 16px;
        font-weight: 500;

        @include mq(sp){
            flex-flow: column;
            row-gap: 28px;
            font-size: 14px;
        }
    }

    &__item {
        color: $text-brown;
        transition: color 0.3s ease;

        &:hover{
            color: $accent-brown;
        }
    }

    &__partition {
        width: 1px;
        height: 16px;
        background-color: $text-brown;

        @include mq(sp){
            display: none;
        }
    }
}

// モバイルナビゲーション
.mobile-nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-top: 128px;
    padding-bottom: 64px;
    background-color: $base-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    &.active{
        visibility: visible;
        opacity: 1;
    }

    &-container{
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 48px;
        text-align: center;
    }

    .sns{
        column-gap: 8px;
    }
}

// SNS
.sns {
    display: flex;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        &--blue {
            background-color: $accent-blue;
            color: $text-white;
            transition: all 0.3s ease;
            &:hover{
                opacity: 0.8;
            }

        }
        
        &--brown {
            background-color: $accent-brown;
            color: $text-white;
            transition: all 0.3s ease;
            &:hover{
                opacity: 0.8;
            }
        }
        
        &--white {
            background-color: #FFFFFF;
            color: $accent-blue;
            transition: all 0.3s ease;
            &:hover{
                opacity: 0.6;
            }
        }

        &--square {
            width: 64px;
            height: 64px;
            font-size: 20px;
        }

        &--circle {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            font-size: 16px;
        }
    }
}

.btn {
    display: block;
    width: fit-content;
    padding: 1em 1.5em;
    margin: 0 auto;
    background-color: $main-brown;
    color: $text-white;
    font-family: $sans-jp;
    font-size: 16px;
    transition: all 0.5s ease;

    @include mq(sp){
        width: 100%;
        text-align: center;
    }

    &:hover{
        background-color: $accent-brown;
    }
}

// ハンバーガーメニュー
.hamburger{
    display: none;

    @include mq(sp){
        display: flex;
        flex-flow: column;
        row-gap: 8px;
    }

    &__border{
        width: 32px;
        height: 1px;
        background-color: $accent-brown;
        transition: all 0.3s ease;
    }

    &.active .hamburger__border:nth-child(1){
        transform: rotate(45deg);
        position: relative;
        top: 4px;

    }

    &.active .hamburger__border:nth-child(2){
        transform: rotate(-45deg);
        position: relative;
        bottom: 5px;
    }
}